

/************ Some or All Layout Pages **************/

.jumbotron{
  text-align: center;
}

body {
  background-image: url("assets/animalPrint1.gif");
}

.hidden{
  opacity: 0;
}

.jumbotron h2{
  font-weight: 100;
}

.ui.large.segment {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 2em;
}

.ui.steps.intro {
  margin-top: 5%;
}

/*************Header****************/

.ui.large.inverted.menu.leopardNav {
  margin-bottom: 0;
}

h1 {
  color:#66FFFF;
}

.menu.leoparNav {
  height: 100%;
}

.ui.inverted.menu a.item:active, .ui.inverted.menu .dropdown.item:active, .ui.inverted.menu .link.item:active, .ui.inverted.menu a.item:active {
  outline: 0;
  background-color: #66FFFF;
  color: white;
}

.ui.link.inverted.menu .item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.inverted.menu .dropdown.item:hover {
  outline: 0;
  background-color: #66FFFF;
  color: black;
}

.ui.large.menu .item.leopardNav {
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #66FFFF;
}



/*********** Intro Page ***************/

.ui.large.segment.intro {
  background: black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.ui.segment.pictureBox {
  height: 80%;
  background: black;
}

.ui.segment.pictureBox {
  height: 80%;
  background: black;
}

h3 {
  text-align: center;
  color: white;
  font-size: 1.5em
}

.column {
  border: 1em;
}


/************* Make Presentations **********/
.ui.ribbon.label {
  position: absolute;
  left: -1rem;
  top : .5rem;
}


.ui.large.segment.textEditor {
  padding: 0;
}

textarea .textEditor {

    margin: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
    padding-top: 3em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.ui.steps.presentationCommands {
  margin-left: auto;
  margin-right: auto;
}

.segment.presentationCommands {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/************ Login/ Signup ***********************/
.ui.labeled.input:not([class*="corner labeled"]):not([class*="right labeled"]) > input {
  border-left: solid;
}
/************ Saved Presentations ****************/

.ui.segment.savedPresentations {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 2em;
}

.ui.large.form.segment {
  width: 40%;
}


