
.hidden{
  opacity: 0;
}

body {
  background-image: url("../assets/animalPrint1.gif");
}


.jumbotron{
  text-align: center;
}

.jumbotron h2{
  font-size: 2em;
  font-weight: 100;
}


.ui.large.inverted.menu.header {
  line-height: 5em;
  margin-bottom: 0;
}

.ui.large.segment {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  top: 2em;
}

.ui.ribbon.label {
  position: absolute;
  left: -1rem;
  top : .5rem;
}

.ui.segment.savedPresentations {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 2em;
}

.ui.segment.pictureBox {
  height: 80%;
}

.ui.steps {
  margin-top: 2%;
}

.ui.large.form.segment {
  width: 40%;
}

.ui.large.segment.textEditor {
  padding: 0;
}



textarea .textEditor {

    margin: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
    padding-top: 3em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.ui.steps.presentationCommands {
  margin-left: auto;
  margin-right: auto;
}

.segment.presentationCommands {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.access-denied {
  /*add styles*/
}