
.hidden{
  opacity: 0;
}

.ui .button{
  text-transform: capitalize;
}

.jumbotron{
  text-align: center;
}

.jumbotron h2{
  font-size: 2em;
  font-weight: 100;
}

.ui.large.menu {
  line-height: 5em;
}

.ui.large.inverted.menu {
  line-height: 5em;
  margin-bottom: 0;
}

.mainLeopard {
  background-image: url("../assets/leopardblue.jpg");
  background-size: 100%;
}

.ui.large.form.segment {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.access-denied {
  /*add styles*/
}