<template name="header"> <!-- this includes navBar --> 
  <div class="ui large inverted menu leopardNav">
    <div class="left menu leopardNav">
      <a class="item leopardNav" href="{{pathFor 'intro'}}"> 
        <i class="home icon"></i> Home
      </a>
    </div>
    <div class="right menu leopardNav">

      {{#if currentUser}}
      <div  id="logout">
        <a class="item leopardNav">
          <i class="sign out icon"></i> Log Out
        </a>
      </div>
      {{else}}
      <a class="item leopardNav" href="{{pathFor 'signup'}}">
        <i class="user icon"></i> Sign Up / Log-In
      </a>
      {{/if}}
    </div>
  </div>
</template>

