<template name="header"> <!-- this includes navBar --> 
  <div class="ui large inverted menu header">
    <div class="left menu">
      <a class="active item" href="{{pathFor 'intro'}}"> 
        <i class="home icon"></i> Home
      </a>
    </div>
    <div class="right menu">

      {{#if currentUser}}
      <a class="item">
        <i class="sign out icon"></i> Log Out
      </a>
      {{/if}}
      <a class="item" href="{{pathFor 'signup'}}">
        <i class="user icon"></i> Sign Up / Log-In
      </a>
    </div>
  </div>
</template>

